.download-button {
  float: right;
}

.dashboard-heading {
  max-width: 600px;
}

.graph_footnote {
  text-align: center;
  max-width: 600px;
  font-size: 12px;
}

.bar_graph {
  height: 300px;
  width: 600px;
}

.pie_graph {
  max-height: 500px;
  max-width: 600px;
}

.download-button {
  margin-left: 15px;
}

.second_graph {
  padding-top: 115px;
}
