  @media print {
    .pure-u-xl-1-2 {
      page-break-after: always;
    }

    #footer {
      display: none;
    }
  }

html {
  font-size: 16px;
}

.explorer {
  font: 1rem Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  position: relative;
  text-align: left;

  h1, h3 {
    display: block;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  p {
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
  }

  a {
    text-decoration: underline;
    color: #234781;
  }

  legend {
    display: none;
  }

  &__result {
    clear: both;
    font-size: 0.75rem;
  }

  button::-moz-focus-inner {
      border:0;
      padding:0;
  }

  &__button {
    width: 16rem;
    font-size: 0.75rem;
    padding: 0.65rem;
    font-weight: normal;
  }

  &__download-button {
    margin-top: 0.625rem;
    margin-left: 1.875rem;
  }

  &__dynamic-button {
    margin-top: 0.625rem;
    margin-left: 1.875rem;
  }

  &__button-column {
    width: 50%;
    display: inline-block;
  }

  &__link-button {
    width: 18rem;
  }

  &__form-content{
    max-width: 37.5rem;
    font-family: Verdana;
    padding-left: 1.375rem;

    p {
      font-size: 0.75rem;
      margin: 0;
    }
  }

  &__dashboard-heading {
    max-width: 37.5rem;
  }

  &__graph-footnote {
    text-align: center;
    width: 37.5rem;
    font-size: 0.75rem;
  }

  &__bar-graph {
    width: 37.5rem;
    height: 21.875rem;
  }

  &__pie-graph {
    max-width: 37.5rem;
    height: 21.875rem;
  }

  &__dashboard-footnote {
    margin-top: 4.375rem;
    text-align: left;
    max-width: 32rem;
  }

  @media screen and (min-width: 1280px) {
    &__second-graph-bar {
      padding-top: 8.5625rem;
      min-height: 26.5625rem;
    }

    &__second-graph-pie {
      padding-top: 6.875rem;
      min-height: 26.5625rem;
    }

    &__second-row {
      max-height: 39.0625rem;
    }
    &__dashboard-footnote {
      margin-top: 3.125rem;
      text-align: center;
      width: 32rem;
      margin-left: 30%;
    }
    &__yearly-bar {
      margin-top: 9rem;
    }
  }

  &__primary-graph {
    min-height: 31.25rem;
  }

  &__second-graph {
    min-height: 27.5rem;
  }

  &__first-row {
    max-height: 46rem;
  }

  &__yearly-bar {
    padding-top: 1.25rem;
  }

  &__yearly-bar-graph {
    width: 37.5rem;
    height: 25rem;
  }

  &__pure-button {
    padding: 0.3125rem;
  }

  &__chart-title {
    text-align: center;
    width: 37.5rem;
    height: 4rem;
  }

  &__faqs-link {
    float: right;
    margin-right: 1.5625rem;
    font-size: 1rem;
  }
}


