@import '../scss/variables';

@media print {
  .pure-u-xl-1-2 {
    page-break-after: always;
  }

  #footer {
    display: none;
  }
}

.explorer {
  font: ($rem-to-base-ratio * 1rem) Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-right: $rem-to-base-ratio * 0.625rem;
  margin-left: $rem-to-base-ratio * 0.625rem;
  position: relative;
  text-align: left;

  h1, h3 {
    display: block;
    padding-top: $rem-to-base-ratio * 0.625rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: $rem-to-base-ratio * 0.625rem;
  }

  h1 {
    font-size: $rem-to-base-ratio * 2rem;
  }

  h3 {
    font-size: $rem-to-base-ratio * 1.12rem;
  }

  p {
    padding-bottom: $rem-to-base-ratio * 0.3125rem;
    padding-top: $rem-to-base-ratio * 0.3125rem;
  }

  a {
    text-decoration: underline;
    color: #234781;
  }

  legend {
    display: none;
  }

  &__result {
    clear: both;
    font-size: $rem-to-base-ratio * 0.75rem;
  }

  button::-moz-focus-inner {
      border:0;
      padding:0;
  }

  &__button {
    display: block;
    width: $rem-to-base-ratio * 16rem;
    font-size: $rem-to-base-ratio * 0.9rem;
    padding: $rem-to-base-ratio * 0.65rem;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
  }

  &__download-button {
    margin-top: $rem-to-base-ratio * 0.625rem;
  }

  &__dynamic-button {
    margin-top: $rem-to-base-ratio * 1rem;
  }

  &__button-column {
    width: 50%;
    display: inline-block;
  }

  &__link-button {
    width: $rem-to-base-ratio * 18rem;
  }

  &__form-content{
    max-width: $rem-to-base-ratio * 37.5rem;
    font-family: Verdana;
    padding-left: $rem-to-base-ratio * 1.375rem;

    p {
      font-size: $rem-to-base-ratio * 0.75rem;
      margin: 0;
    }
  }

  &__dashboard-heading {
    max-width: $rem-to-base-ratio * 37.5rem;
  }

  &__graph-footnote {
    text-align: center;
    width: $rem-to-base-ratio * 37.5rem;
    font-size: $rem-to-base-ratio * 0.75rem;
  }

  &__bar-graph {
    width: $rem-to-base-ratio * 37.5rem;
    height: $rem-to-base-ratio * 22rem;
  }

  &__pie-graph {
    max-width: $rem-to-base-ratio * 37.5rem;
    height: $rem-to-base-ratio * 21.875rem;
  }

  &__dashboard-footnote {
    margin-top: $rem-to-base-ratio * 4.375rem;
    text-align: left;
    max-width: $rem-to-base-ratio * 32rem;
  }

  @media screen and (min-width: 1280px) {
    &__second-graph-bar {
      padding-top: $rem-to-base-ratio * 8.5625rem;
      min-height: $rem-to-base-ratio * 26.5625rem;
    }

    &__second-graph-pie {
      padding-top: $rem-to-base-ratio * 6.875rem;
      min-height: $rem-to-base-ratio * 26.5625rem;
    }

    &__second-row {
      max-height: $rem-to-base-ratio * 41rem;
    }
    &__dashboard-footnote {
      margin-top: $rem-to-base-ratio * 3.125rem;
      text-align: center;
      width: $rem-to-base-ratio * 32rem;
      margin-left: 30%;
    }
    &__yearly-bar {
      margin-top: $rem-to-base-ratio * 9rem;
    }
  }

  &__primary-graph {
    min-height: $rem-to-base-ratio * 31.25rem;
  }

  &__second-graph {
    min-height: $rem-to-base-ratio * 27.5rem;
  }

  &__first-row {
    max-height: $rem-to-base-ratio * 46rem;
  }

  &__yearly-bar {
    padding-top: $rem-to-base-ratio * 1.25rem;
  }

  &__yearly-bar-graph {
    width: $rem-to-base-ratio * 37.5rem;
    height: $rem-to-base-ratio * 25rem;
  }

  &__pure-button {
    padding: $rem-to-base-ratio * 0.3125rem;
  }

  &__chart-title {
    text-align: center;
    height: $rem-to-base-ratio * 5rem;
    width: $rem-to-base-ratio * 37.5rem;
  }

  &__faqs-link {
    float: right;
    margin-right: $rem-to-base-ratio * 1.5625rem;
    font-size: $rem-to-base-ratio * 1rem;
  }

  &__footnote-terms {
    text-align: left;
  }

  &__footnote-terms-header {
    margin-bottom: $rem-to-base-ratio * 0.2rem;
  }

  &__modal-table {
    th, td {
      border: ($rem-to-base-ratio * 0.1rem) solid black;
      padding: $rem-to-base-ratio * 0.5rem;
    }
    margin-bottom: $rem-to-base-ratio * 1.5rem;
    border-collapse: collapse;
    border: ($rem-to-base-ratio * 0.1rem) solid black;
    margin-left:auto; 
    margin-right:auto;
    margin-top: $rem-to-base-ratio * 1rem;
  }

  &__modal-button-div {
    text-align: center;
  }
}


