  @media print {
    .pure-u-xl-1-2 {
      page-break-after: always;
    }

    #footer {
      display: none;
    }
  }

.explorer {
  font: 16px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  text-align: left;

  h1, h3 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.17em;
  }

  p {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  a {
    text-decoration: underline;
    color: #234781;
  }

  &__result {
    clear: both;
    font-size: 11px;
  }

  button::-moz-focus-inner {
      border:0;
      padding:0;
  }

  &__button {
    width: 225px;
    font-size: 11px;
    padding: 8px;
  }

  &__button-column {
    width: 50%;
    display: inline-block;
  }

  &__link-button {
    margin-left: 15px;
  }

  &__form-content{
    max-width: 600px;
    font-family: Verdana;
    padding-left: 22px;

    p {
      font-size: 12px;
    }
  }

  &__dashboard-heading {
    max-width: 600px;
  }

  &__graph-footnote {
    text-align: center;
    max-width: 600px;
    font-size: 11px;
  }

  &__bar-graph {
    width: 600px;
    height: 350px;
  }

  &__pie-graph {
    max-width: 600px;
    height: 350px;
  }

  &__dashboard-footnote {
    margin-top: 70px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    &__second-graph {
      padding-top: 107px;
      min-height: 425px;
    }

    &__second-row {
      max-height: 625px;
    }
    &__dashboard-footnote {
      margin-top: 50px;
      text-align: center;
    }
  }

  &__primary-graph {
    min-height: 500px;
  }

  &__second-graph {
    min-height: 440px;
  }

  &__first-row {
    max-height: 475px;
  }

  &__yearly-bar {
    padding-top: 20px;
  }

  &__pure-button {
    padding: 5px;
  }

  &__chart-title {
    text-align: center;
    width: 600px;
  }

  &__faqs-link {
    float: right;
    margin-right: 25px;
    font-size: 16px;
  }
}


