:root {
  --color-primary: #0071bc;
  --color-primary-darker: #205493;
  --color-primary-darkest: #112e51;
  --color-secondary-alt: #02bfe7;
  --color-secondary: #e31c3d;
  --color-secondary-dark: #cd2026;
}

#GSTM-app {
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
}

#GSTM-app h1 {
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 32px;
}

#GSTM-app h1 > a {
  color: var(--color-primary-darker);
}

#GSTM-app p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

#GSTM-app > div > div > p:nth-child(4) {
  width: 250px;
  position: relative;
}

#GSTM-app form {
  max-width: 525px;
  display: inline-block;
}

#GSTM-app .center-fieldset {
  text-align: center;
}

#GSTM-app fieldset {
  text-align: left;
  color: white;
  background-color: var(--color-primary);
  border: 1px var(--color-primary-darker) solid;
  padding: 20px 15px 15px 15px;
  margin: 0 auto;
  display: inline-block;
  min-width: 50%;
  box-shadow: 1.5px 1.5px 1.5px darkgray;
}

#GSTM-app fieldset legend {
  font-size: 1em;
  font-weight: 400;
  padding: 3px 10px 5px 10px;
  margin-left: 5px;
  margin-bottom: 0;
  background-color: var(--color-primary-darkest);
  box-shadow: 1.5px 1.5px 1.5px var(--color-primary-darkest);
}

#GSTM-app fieldset div.comparison-option {
  display: inline;
}

#GSTM-app fieldset label {
  font-size: 1em;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
  display: inline-block;
}

#GSTM-app fieldset label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-primary-darker);
}

#GSTM-app [type=radio]:checked+label:before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
}

#GSTM-app .form-and-instructions {
  display: inline;
}
#GSTM-app .form-and-instructions > h2 {
  margin-top: 0.5em;
}


#GSTM-app form .ReportingCountries, .PartnerCountries, .TradeFlow, .ProductGroups, .FlowType {
  display: inline-block;
  min-width: 250px;
  margin: 0 10px 10px 0;
}

#GSTM-app form button {
  display: block;
  margin-top: 1em;
  width: 20em;
  font-size: 1em;
  line-height: 1;
  padding: 1.04rem;
  color: #fff;
  background-color: var(--color-primary);
  -webkit-appearance: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#GSTM-app form button a {
  text-decoration: none;
  color: #fff;
}

#GSTM-app form p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#GSTM-app form b {
  margin-top: 10px;
  margin-bottom: 0px;
}

#GSTM-app .GraphCollection {
  display: inline;
}

#GSTM-app .message {
  display: inline-block;
  vertical-align: top;
  margin-top: 200px;
  margin-left: 50px;
  color: var(--color-primary-darkest);
}

#GSTM-app .spinnerForCharts {
  display: inline-block;
  vertical-align: top;
  margin-top: 200px;
  margin-left: 50px;
}

#GSTM-app .Graph {
  display: inline-block;
  width: 525px;
  height: 400px;
  margin-top: 20px;
  margin-right: 50px;
}

#GSTM-app .Graph:first-of-type {
  margin-left: 30px;
}

#GSTM-app .Graph .ChartTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

#GSTM-app .Graph .caption {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
}

#GSTM-app .Graph button.modalOpen {
  background: none;
  color:var(--color-primary);
  padding: 0;
  margin: 0;
  font: inherit;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0; 
  cursor: pointer;
}

.ReactModalPortal .modal-table {
  min-width: 25%;
  table-layout: auto;
  margin: auto;
}

#GSTM-app button#BackToTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color:var(--color-primary);
  padding: 0;
  margin: 0;
  font: inherit;
  border-bottom: 1px solid var(--color-primary); 
  border-radius: 0; 
  cursor: pointer;
}

#GSTM-app footer {
  left: 50vw;
  width: 600px;
  text-align: center;
  margin: 30px auto 20px auto;
}

#GSTM-app footer b {
  margin-bottom: 5px;
}

#GSTM-app footer p {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#GSTM-app footer ol {
  font-size: 16px;
  margin-top: 5px;
}

#GSTM-app footer li {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 3px;
}